<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-compass"></i>
            <span class="navbar-wordmark">Wanderlust</span>
        </a>
        <button class="navbar-toggler" type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup">

        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-collapse-aligned" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add new listing</a>
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup">Sign Up</a>
                    <a class="nav-link" href="/login">Log In</a>
                <% } %>
                <% if(currUser) { %>
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/bookings">My Trips</a>
                    <a class="nav-link" href="/logout">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>